    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .mana-graph {
        width: 450px;
        height: 300px;
        background-image: url("../images/mana-curve-outer-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .mana-graph__deck {
        padding-top: 50px;
        width: 88%;
        height: 80%;
        margin: 0 auto 10px;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .mana-graph__bar {
        flex-basis: 30px;
        border-radius: 5px;
        background-image: url("../images/mana-curve-inner-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border: 1px solid darkgray;
        position: relative;
    }

    .mana-graph__number {
        position: absolute;
        top: -30px;
        left: 10px;
        color: white;
        font-weight: bold;
    }

    .mana-graph__fill {
        width: 100%;
        height: 0%;
        position: absolute;
        bottom: 0;
        background-color: darkgoldenrod;
        transition: height .5s cubic-bezier(.17,.67,.74,.89);
    }

    .gems-img-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .mana-graph__gems {
        width: 100%;
    }