body {
    background-image: url("https://images2.alphacoders.com/159/159670.jpg");
    background-color: black;
}

.class-icon {
    max-height: 50px;
}


/*  ============================ MAIN PAGE =========================*/

  #container{
    padding: 10px;
    max-width: fit-content;
    text-align: center;
    --webkit-clip-path: polygon(0 88%, 12% 95%, 37% 100%, 63% 100%, 88% 95%, 100% 88%, 100% 36%, 94% 27%, 85% 16%, 76% 8%, 67% 2%, 57% 0, 50% 0, 42% 1%, 30% 5%, 21% 12%, 13% 20%, 5% 29%, 0 38%);
    clip-path: polygon(0 88%, 12% 95%, 37% 100%, 63% 100%, 88% 95%, 100% 88%, 100% 36%, 94% 27%, 85% 16%, 76% 8%, 67% 2%, 57% 0, 50% 0, 42% 1%, 30% 5%, 21% 12%, 13% 20%, 5% 29%, 0 38%);
      /*object-fit: contain;*/

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

  }
  #container:hover {

    padding: 10px;
    /*object-fit: contain;*/

    -webkit-transform:  scale(1.1);
    -moz-transform:  scale(1.1);
    -o-transform:  scale(1.1);
    -ms-transform:  scale(1.1);
    transform:  scale(1.1);

  }

  #inner {
      padding: 50px;
      background-image: url("/static/images/paper.png");
      background-repeat:no-repeat;
      background-position: center top;
      background-size: 100% 100%;
  }

  #outer {
      background-color: rgb(219, 209, 180);
      padding-top: 50px;
      padding-bottom: 50px;

  }

  #choose {

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.portrait-img {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

    background-position: center center;
    /*height: 100%;*/
    width: 100%;
}


.fit-image {

    width: 100%;
    /*width: auto;*/

}

/*.clearfix {*/
  /*overflow: auto;*/
/*}*/

/*  ============================ CARD DISPLAY =========================*/

    .fit-image {
    width: 100%;
}
    .card_display_container {
        background-image: url('../images/deckbuilder_card_frame.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        position: relative;
        min-width: 774.656px;
        min-height: 633.062px;
    }

    #previous {
        position: absolute;
        left: 30px;
        top: 270px;
        background-color: transparent;
        border: none;
    }

    #previous img {
        width: 40px;
    }

    #next {
       position: absolute;
        right: 30px;
        top: 270px;
        background-color: transparent;
        border: none;
    }

    #next img {
        width: 40px;
    }




    /*  ============================ DECK INFO =========================*/

.container-deck-info {
    height: 110px;
}



    /*  ============================ MANA GRAPH =========================*/

.mana-graph {
    width: 450px;
    height: 300px;
    background-image: url("../images/mana-curve-outer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mana-graph__deck {
    padding-top: 50px;
    width: 88%;
    height: 80%;
    margin: 0 auto 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.mana-graph__bar {
    flex-basis: 30px;
    border-radius: 5px;
    background-image: url("../images/mana-curve-inner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid darkgray;
    position: relative;
}

.mana-graph__number {
    position: absolute;
    top: -30px;
    left: 10px;
    color: white;
    font-weight: bold;
}

.mana-graph__fill {
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    background-color: darkgoldenrod;
    transition: height .5s cubic-bezier(.17,.67,.74,.89);
}

.gems-img-wrapper {
    width: 90%;
    margin: 0 auto;
}

.mana-graph__gems {
    width: 100%;
}


        /*  ============================ DECK TABLE =========================*/

.deck-wrapper {
    width: 450px;
    margin-top: 20px;
    min-height: 500px;
    background-color: wheat;
}

.deck {
    background-color: burlywood;
    border-collapse: collapse;
    width: 100%;
}

.deck th, .deck td {
    border: 1px solid grey;
    padding: 8px;
}

.deck th {
    background-color: #212529;
    padding: 14px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.deck__mana-cost {
    text-align: center;
    width: 20%;
}


html {
  background: url("../images/Tavern_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.deck__mana-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url("../images/small-mana-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -31px;
}

.deck__card-name--LEGENDARY {
    color: orange;
    font-weight: bold;
}

.deck__card-name--COMMON {
    color: grey;
    font-weight: bold;
}

.deck__card-name--RARE {
    color: blue;
    font-weight: bold;
}

.deck__card-name--EPIC {
    color: blueviolet;
    font-weight: bold;
}

        /*  ============================ FILTER MECHANICS =========================*/

.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

