body {
    background-image: url("/static/images/Tavern_background.png");
    background-color: black;
    position: relative;
}

/*  ============================ NAVIGATION=========================*/

.class-icon {
    max-height: 50px;
    border-radius: 10px;
    transition: all .2s;
}

.class-icon:hover {
    transform: scale(1.2);
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
}


/*  ============================ MAIN PAGE =========================*/

  #container{
    padding: 10px;
    max-width: fit-content;
    text-align: center;
    --webkit-clip-path: polygon(0 88%, 12% 95%, 37% 100%, 63% 100%, 88% 95%, 100% 88%, 100% 36%, 94% 27%, 85% 16%, 76% 8%, 67% 2%, 57% 0, 50% 0, 42% 1%, 30% 5%, 21% 12%, 13% 20%, 5% 29%, 0 38%);
    clip-path: polygon(0 88%, 12% 95%, 37% 100%, 63% 100%, 88% 95%, 100% 88%, 100% 36%, 94% 27%, 85% 16%, 76% 8%, 67% 2%, 57% 0, 50% 0, 42% 1%, 30% 5%, 21% 12%, 13% 20%, 5% 29%, 0 38%);
      /*object-fit: contain;*/

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;

  }
  #container:hover {

    padding: 10px;
    /*object-fit: contain;*/

    -webkit-transform:  scale(1.1);
    -moz-transform:  scale(1.1);
    -o-transform:  scale(1.1);
    -ms-transform:  scale(1.1);
    transform:  scale(1.1);

  }

  #inner {
      padding: 50px;
      background-image: url("/static/images/paper.png");
      background-repeat:no-repeat;
      background-position: center top;
      background-size: 100% 100%;
  }

  #outer {
      background-color: rgb(219, 209, 180);
      padding-top: 50px;
      padding-bottom: 50px;

  }

  #choose {
    text-align: center;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.portrait-img {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;

    background-position: center center;
    width: 100%;
}


.fit-image {
    width: 100%;
}


/*  ============================ CARD DISPLAY =========================*/

#Druid, #Hunter, #Mage, #Paladin, #Priest, #Rogue, #Shaman, #Warlock, #Warrior, #neutral2 {
  /*image: url('../images/classes-sprites.png');*/
  background-repeat: no-repeat;
  object-fit: none;
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: absolute;
    margin-top: 1px;
}

.icon-button {
    width: 100px;
    text-align: right;
    background-color: wheat;
    padding: 2px 3px 0 0;
    height: 33px;
    border: 2px solid grey;
    border-radius: 3px;
    transition: all .2s;
}

.icon-button:hover {
    background-color: sandybrown;
}

.icon-buttons-wrapper {
    margin-left: 3px;
    display: flex;
}

#Druid img{
    object-position: 0 -192px;
    }

#Hunter img{
    object-position: 0 -160px;
    }

#Mage img {
    object-position: 0 -256px;
}

#Paladin img {
    object-position: 0 -128px;
}

#Priest img{
    object-position: 0 -288px;
}

#Rogue img{
    object-position: 0 -96px;
}

#Shaman img{
    object-position: 0 -64px;
}

#Warlock img{
    object-position: 0 -224px;
}

#Warrior img{
    object-position: 0 -32px;
}

#neutral2 img{
    object-position: 0 0;
    }


.card-display-container {
    background-color: wheat;
    background-clip: content-box;
}

.fit-image {
        position: absolute;
        top: -25px;
        left: -10px;
        width: 210px;
}
    .card-wrapper {
        overflow: hidden;
        height: 260px;
        width: 185px;
        margin-top: 30px;
        position: relative;
    }
    .card_display_container {
        background-image: url('../images/deckbuilder_card_frame.png');
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        position: relative;
        min-width: 774.656px;
        min-height: 633.062px;
    }

    #previous {
        position: absolute;
        left: 20px;
        top: 270px;
        background-color: transparent;
        border: none;
    }

    #previous img {
        width: 40px;
    }

    #next {
       position: absolute;
        right: 20px;
        top: 270px;
        background-color: transparent;
        border: none;
    }

    #next img {
        width: 40px;
    }
    
    .page-info {
        position: absolute;
        bottom: 10px;
        left: 360px;
        display: flex;
        width: 50px;
        justify-content: space-between;
        padding: 2px 4px;
        border-radius: 5px;
        background-color: navajowhite;
        border: 2px solid dimgrey;
    }




    /*  ============================ DECK INFO =========================*/

.container-deck-info {
    height: 110px;
    width: 415px;
    margin-left: -15px;
    background-color: wheat;
}



    /*  ============================ MANA GRAPH =========================*/

.mana-graph {
    width: 450px;
    height: 300px;
    background-image: url("../images/mana-curve-outer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mana-graph__deck {
    padding-top: 50px;
    width: 88%;
    height: 80%;
    margin: 0 auto 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.mana-graph__bar {
    flex-basis: 30px;
    border-radius: 5px;
    background-image: url("../images/mana-curve-inner-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid darkgray;
    position: relative;
}

.mana-graph__number {
    position: absolute;
    top: -30px;
    left: 10px;
    color: white;
    font-weight: bold;
}

.mana-graph__fill {
    width: 100%;
    height: 0%;
    position: absolute;
    bottom: 0;
    background-color: darkgoldenrod;
    transition: height .5s cubic-bezier(.17,.67,.74,.89);
}

.gems-img-wrapper {
    width: 90%;
    margin: 0 auto;
}

.mana-graph__gems {
    width: 100%;
}


        /*  ============================ DECK TABLE =========================*/


.deck-wrapper {
    width: 450px;
    max-height: 500px;
    overflow-y: auto;
    padding-top: 20px;
    min-height: 500px;
    background-color: wheat;
}

.deck {
    background-color: burlywood;
    border-collapse: collapse;
    width: 100%;
}

.deck th, .deck td {
    border: 1px solid grey;
    padding: 8px;
}

.deck th {
    background-color: #212529;
    padding: 14px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.deck__mana-cost {
    text-align: center;
    width: 20%;
}


html {
  background: url("../images/Tavern_background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.deck__mana-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    background-image: url("../images/small-mana-icon-sprite.png");
    background-repeat: no-repeat;
    background-position: -20px -31px;
}

.deck__card-name--LEGENDARY {
    color: orange;
    font-weight: bold;
}

.deck__card-name--COMMON {
    color: grey;
    font-weight: bold;
}

.deck__card-name--RARE {
    color: blue;
    font-weight: bold;
}

.deck__card-name--EPIC {
    color: blueviolet;
    font-weight: bold;
}

.cardHover {
    display: none;
    position: absolute;
    overflow: visible;
    height: 0px;
    width: 0px;
    top: 0;
    left: 0;
    z-index:1;
}

/*  ============================ SEARCH PANEL =========================*/

.searchpanel {
    padding: 20px 5px 20px 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.searchpanel__search-input {
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.searchpanel__mana-filter {
    background-color: white;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 5px;
}

.searchpanel__multiselect {
    background-color: white;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 5px;
}

.multiselect {
  width: 200px;
    position: relative;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
    position: absolute;
    height: 300px;
    overflow-y: scroll;
    z-index: 2;
    width: 200px;
    background-color: white;
    padding: 5px 10px;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

