.fit-image {
    width: 100%;

}


body {
    background-image: url("https://images2.alphacoders.com/159/159670.jpg");
}


html {
  background: url("https://images2.alphacoders.com/159/159670.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}