{% extends "layout.html" %}
{% block header %}
    <div class="row nav-container">
        <div class="col-1">
            <a href="/deck-builder?class=Druid"><img class="class-icon"
                                                       src="{{ url_for('static', filename='images/db-class-druid.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Hunter"><img class="class-icon"
                                                      src="{{ url_for('static', filename='images/db-class-hunter.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Mage"><img class="class-icon"
                                                    src="{{ url_for('static', filename='images/db-class-mage.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Paladin"><img class="class-icon"
                                                       src="{{ url_for('static', filename='images/db-class-paladin.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Priest"><img class="class-icon"
                                                      src="{{ url_for('static', filename='images/db-class-priest.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Rogue"><img class="class-icon"
                                                     src="{{ url_for('static', filename='images/db-class-rogue.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Shaman"><img class="class-icon"
                                                      src="{{ url_for('static', filename='images/db-class-shaman.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Warlock"><img class="class-icon"
                                                       src="{{ url_for('static', filename='images/db-class-warlock.jpg') }}"></a>
        </div>
        <div class="col-1">
            <a href="/deck-builder?class=Warrior"><img class="class-icon"
                                                       src="{{ url_for('static', filename='images/db-class-warrior.jpg') }}"></a>
        </div>
    </div>

{% endblock header %}
{% block contents %}
    <div class="container p-1" id="deck_paper">
        <div class="row">
            <div class="col-8 card-display-container">
                <div class="row">
                    {% include "/deck/filter.html" %}
                </div>
                <div class="row">
                    {% include "/deck/card_table.html" %}
                </div>
            </div>
            <div class="col-4 p-0">
                <div>
                    {% include '/deck/deck-info.html' %}
                </div>
                <div class="row">
                    {% include "/deck/mana_graph.html" %}
                </div>
                <div class="row">
                    {% include "/deck/chosen_deck.html" %}
                </div>
            </div>
        </div>
    </div>
    <audio preload="auto">
      <source src="../static/audio/music.mp3" type="audio/mpeg">
    </audio>
{% endblock contents %}