<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hearthstone</title>
</head>
<body>
    <h1>Hearthstone</h1>
    <a href="{{ url_for('route_deck_builder', class="Druid") }}">Druid</a>
    <a href="{{ url_for('route_deck_builder', class="Hunter") }}">Hunter</a>
    <a href="{{ url_for('route_deck_builder', class="Mage") }}">Mage</a>
    <a href="{{ url_for('route_deck_builder', class="Paladin") }}">Paladin</a>
    <a href="{{ url_for('route_deck_builder', class="Priest") }}">Priest</a>
    <a href="{{ url_for('route_deck_builder', class="Rogue") }}">Rogue</a>
    <a href="{{ url_for('route_deck_builder', class="Shaman") }}">Shaman</a>
    <a href="{{ url_for('route_deck_builder', class="Warlock") }}">Warlock</a>
    <a href="{{ url_for('route_deck_builder', class="Warrior") }}">Warrior</a>
</body>
</html>