{% block contents %}

    <div>
        <div>
            <button id="class" name="{{ cardClass }}">{{ cardClass }}</button>
            <br>
            <button id="neutral" name="neutral">Neutral</button>
        </div>


        <div id="six_cards" class="container px-0 card_display_container">
            <button id="previous" name="previous" data-js="page-btn"><img src="{{ url_for('static', filename="images/Arrow_head_left.png") }}" alt=""></button>
            <button id="next" name="next" data-js="page-btn"><img src="{{ url_for('static', filename="images/Arrow_head_right.png") }}" alt=""></button>
            <div class="row">
                <div class="col-10 offset-1 px-0">
                    <div class="container">
                        <div class="row" id="cards"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <div id="page"></div>
                    <div id="maxPage"></div>
                </div>
            </div>

        </div>
    </div>


{% endblock contents %}