{% block contents %}

    <div>
        <div>
            <button id="class" name="{{ cardClass }}">{{ cardClass }}</button>
            <br>
            <button id="neutral" name="neutral">Neutral</button>
            <br>
            <div id="cardClass" data-name="{{ cardClass }}">{{ cardClass }}</div>
        </div>


        <div id="six_cards" class="container px-0">
            <div class="row">
                <div class="col-1">
                    <button id="previous" name="previous">Previous</button>
                </div>
                <div class="col-10 px-0">
                    <div class="container">
                        <div class="row" id="cards"></div>
                    </div>
                </div>
                <div class="col-1 align-middle">
                    <button id="next" name="next" class="">Next</button>
                </div>
            </div>
            <div class="row">
                <div>
                    <div id="page"></div>
                    <div id="maxPage"></div>
                </div>
            </div>

        </div>
    </div>


{% endblock contents %}