<table class="deck">
    <thead>
        <tr>
            <th>
                Card Name
            </th>
            <th>
                Cost
            </th>
        </tr>
    </thead>
    <tbody class="deck__body">
        <tr>
            <td class="deck__card-name">
                <span><span class="deck__card-name--legendary">Confuse</span> x 2</span>
            </td>
            <td class="deck__mana-cost">
                <span>2</span>
                <span class="deck__mana-icon"></span>
            </td>
        </tr>
            <tr>
            <td class="deck__card-name">
                <span><span class="deck__card-name--common">Test Subject</span> x 1</span>
            </td>
            <td class="deck__mana-cost">
                <span>1</span>
                <span class="deck__mana-icon"></span>
            </td>
        </tr>
    </tbody>
</table>