    <div class="mana-graph">
        <ul class="mana-graph__deck">
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="zeroMana"></span>
            </li>
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="oneMana"></span>
            </li>
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="twoMana"></span>
            </li>
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="threeMana"></span>
            </li>
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="fourMana"></span>
            </li>
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="fiveMana"></span>
            </li>
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="sixMana"></span>
            </li>
            <li class="mana-graph__bar">
                <span class="mana-graph__number">0</span>
                <span class="mana-graph__fill" data-mana_bar="sevenMana"></span>
            </li>
        </ul>
        <div class="gems-img-wrapper">
            <img src="{{ url_for('static', filename='images/mana-curve-mana-gems-sprite.png') }}" alt="mana-gems" class="mana-graph__gems">
        </div>
    </div>
